.recipeImage {
  width: clamp(100px, 50%, 300px);
}

.mealContainer {
  background-color: var(--beige);
  border-radius: 1rem;
  border: rgba(181, 42, 194, 0.326) solid 4px;
  padding: 2rem;
}

.mealSteps {
  font-size: 1.4rem;
}
