.recipeListItem {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 2fr auto;
  gap: 3rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid grey; /* soft grey */
}

.recipeListItem:last-child {
  border-bottom: none;
}

.recipeCategory {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.recipeImage {
  width: 100%;
  border-radius: 1rem;
  grid-row: 1 / 3;
}

.recipeInstructions {
  white-space: pre-wrap;
}

.deleteBtn {
  height: min-content;
}

.smallButton {
  display: none;
}

@media (max-width: 700px) {
  .recipeListItem {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .bigButton {
    display: none;
  }

  .smallButton {
    display: block;
  }

  .deleteBtn {
    width: min-content;
    justify-self: end;
  }

  .recipeInstructions {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }
}

@media (max-width: 500px) {
  .recipeListItem {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
  }

  .recipeImage {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }
  .recipeInstructions {
    grid-row: 5 / 6;
    grid-column: 1 / 2;
  }

  .recipeTitle {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
  }

  .recipeCategory {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
  }
}
