.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: clamp(200px, 80vw, 1000px);
  margin: 1rem auto;
  gap: 2rem;
}

.navbar {
  display: flex;
  justify-content: end;
  gap: 4rem;
  padding: 1rem;
}

@media (max-width: 700px) {
  .main {
    width: clamp(100px, 80vw, 600px);
  }
}
