.dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  padding: 10px;
  width: 100%;
  height: 100vh;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: min-content;
  width: min-content;
  opacity: 0;
  transform: translate(-50%, -50%) scaleY(0);
  transition: opacity 0.7s ease-out, transform 0.7s ease-out,
    overlay 0.7s ease-out allow-discrete, display 0.7s ease-out allow-discrete;
}

.dialog:open {
  opacity: 1;
  transform: translate(-50%, -50%) scaleY(1);
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
}
