main {
  width: 100rem;
  margin: 5rem auto;
  min-height: 70rem;
  background-color: orangered;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
}

button {
  width: min-content;
}
