@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  --orange: rgb(255, 115, 0);
  --orange-dark: rgb(220, 99, 0);
  --purple: rgba(210, 29, 234, 0.809);
  --purple-dark: rgba(178, 10, 200, 0.809);
  --beige: #fff;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: rgb(242, 218, 218);
}

h1 {
  font-size: 3.6rem;
  color: #333;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.8rem;
}

p,
label {
  font-size: 1.8rem;
  color: #333;
}

button {
  cursor: pointer;
  all: unset;
  border-radius: 1rem;
  padding: 12px;
  font-size: 1.4rem;
  color: rgba(235, 235, 235, 0.914);
}

.main-button {
  background-color: var(--purple);
  transition: background-color 0.3s ease;
  font-weight: 300;
}

.main-button:hover {
  background-color: var(--purple-dark);
}

.accent-button {
  background-color: var(--orange);
  transition: background-color 0.3s ease;
}

.accent-button:hover {
  background-color: var(--orange-dark);
}

a {
  all: unset;
  font-size: 1.8rem;
}

a:hover {
}
